{% extends 'adminapp/layout.html' %}
{% block title %}
  <title> Waterly | Dashboard</title>
{% endblock %}
{% block content %}
<div class="col-md-10">
    <div class="row" id="adminLandingPage">                            
    <div class="row animated fadeInDown">
        
        <!-- MOST WATERLY TABLE -->
        <div class="col-md-12">
            <div class="content-box-large hvr-shrink">
                <div class="panel-heading">
                    <div class="panel-title text-center">MOST Waterly Citizens</div>
                    <div class="panel-options">
                        <div class="btn-group" style="margin: 0px 10px 10px 0px;">
                            <button type="button" class="btn btn-primary hvr-grow dropdown-toggle" data-toggle="dropdown">
                              Select Category <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu text-center animated zoomIn" role="menu">
                            <li class="hvr-grow-shadow"><a href="">Household</a></li>
                            <li class="hvr-grow-shadow"><a href="">Property</a></li>
                            <li class="hvr-grow-shadow"><a href="">School</a></li>
                            <li class="hvr-grow-shadow"><a href="">Company</a></li>
                            <li class="hvr-grow-shadow"><a href="">University</a></li>
                            <li class="hvr-grow-shadow"><a href="">Hospital</a></li>
                        </ul>
                        </div>
                        <a href="#" data-rel="reload"><i class="glyphicon glyphicon-refresh"></i></a>
                    </div>
                </div>
                <div class="panel-body animated zoomInDown" id="byConsumer">
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Ranking</th>
                            <th>Consumer</th>
                            <th>Consumption</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="hvr-grow-shadow success">
                            <td>1</td>
                            <td>Mabu Manaileng</td>
                            <td>50L</td>
                          </tr>
                          <tr class="hvr-grow-shadow warning">
                            <td>2</td>
                            <td>Ofentswe Lebogo</td>
                            <td>65L</td>
                          </tr>
                          <tr class="hvr-grow-shadow danger">
                            <td>3</td>
                            <td>Asive Dlaba</td>
                            <td>100L</td>
                          </tr>
                        </tbody>
                      </table>
                </div> 
            </div>
        </div>

        <!-- LEAST WATERLY TABLE -->
        <div class="col-md-12">
            <div class="content-box-large hvr-shrink">
                <div class="panel-heading">
                    <div class="panel-title text-center">LEAST Waterly Citizens</div>
                    <div class="panel-options">
                        <div class="btn-group" style="margin: 0px 10px 10px 0px;"> 
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Select Category <span class="caret"></span></button>
                        <ul class="dropdown-menu text-center animated zoomIn" role="menu">
                            <li class="hvr-grow-shadow"><a href="">Household</a></li>
                            <li class="hvr-grow-shadow"><a href="">Property</a></li>
                            <li class="hvr-grow-shadow"><a href="">School</a></li>
                            <li class="hvr-grow-shadow"><a href="">Company</a></li>
                            <li class="hvr-grow-shadow"><a href="">University</a></li>
                            <li class="hvr-grow-shadow"><a href="">Hospital</a></li>
                        </ul>
                    </div>
                        <a href="#" data-rel="reload"><i class="glyphicon glyphicon-refresh"></i></a>
                </div>
            </div>
            <div class="panel-body animated zoomInDown" id="WbyConsumer">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Ranking</th>
                        <th>Consumer</th>
                        <th>Consumption</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="danger">
                        <td>1</td>
                        <td>Dave Mabaso</td>
                        <td>4000L</td>
                      </tr>
                      <tr class="danger">
                        <td>2</td>
                        <td>Mbangiso Mabaso</td>
                        <td>3000L</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        
        <!-- LIVE CONSUMPTION DATA -->
        <div class="col-md-12">
            <div class="content-box-large hvr-shrink">
                <div class="panel-heading">
                    <div class="panel-title text-center">Current Consumption</div>
                    <div class="panel-options">
                        <div class="btn-group" style="margin: 0px 10px 10px 0px;">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                              Select Category <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu text-center animated zoomIn" role="menu">
                                <li class="hvr-grow-shadow"><a href="">Household</a></li>
                                <li class="hvr-grow-shadow"><a href="">Property</a></li>
                                <li class="hvr-grow-shadow"><a href="">School</a></li>
                                <li class="hvr-grow-shadow"><a href="">Company</a></li>
                                <li class="hvr-grow-shadow"><a href="">University</a></li>
                                <li class="hvr-grow-shadow"><a href="">Hospital</a></li>
                        </ul>
                        </div>
                        <a href="#" data-rel="reload"><i class="glyphicon glyphicon-refresh"></i></a>
                    </div>
                </div>
                <div class="panel-body animated zoomInDown"></div>
            </div>
        </div>        
    </div>
    </div>
</div>
{% endblock %}