{% extends 'adminapp/layout.html' %}
{% block title %}
<title> Waterly | Reports</title>
{% endblock %}

{% block content %}
<div class="col-md-7">
  <div class="content-box-large animated zoomInDown">
      <div class="panel-heading">
          <div class="panel-title">CURRENT DEMAND</div>
          <div class="panel-options">
              <div class="btn-group" style="margin: 0px 10px 10px 0px;">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    Select Consumer <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu animated zoomIn" id="add-user" role="menu">
                    
                  </ul>
              </div>
              <a href="#" data-rel="reload"><i class="glyphicon glyphicon-refresh"></i></a>
          </div>
      </div>
      <div class="panel-body">
          <div id="interactive">                                  
          </div>                                  
      </div>
</div>
</div>
{% endblock %}
