{% extends 'app/layout.html' %}
{% block title %}
  <title> Waterly | Competitions</title>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="col-md-12">        
    <div class="content-box-large hvr-shrink">
        <div class="panel-heading">
            <div class="panel-title text-center">My Leaderboard</div>
        </div>
        <div class="panel-body animated zoomInDown"> 
            <div class="col-md-12"> 
                <div class="clearfix tabs-vertical-right">
                    <ul class="nav nav-tabs">
                        <li class="active hvr-grow-shadow"><a href="#tab-daily" data-toggle="tab">Daily</a></li>
                        <li class="hvr-grow-shadow"><a href="#tab-weekly" data-toggle="tab">Weekly</a></li>
                        <li class="hvr-grow-shadow"><a href="#tab-monthly" data-toggle="tab">Monthly</a></li>
                        <li class="hvr-grow-shadow"><a href="#tab-yearly" data-toggle="tab">Yearly</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active animated bounceIn" id="tab-daily">
                           <table class="table animated bounceIn">
                               <thead>
                                   <tr>
                                       <th>Ranking</th>
                                       <th>Name</th>
                                       <th>$ Score</th>
                                       <th>Overall Score</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for user in users %}
                                   <tr class="success hvr-grow-shadow">
                                       <td>2</td>
                                       <td>{{user}}</td>
                                       <td>200</td>
                                       <td>2000</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                        </div>
                        
                        <div class="tab-pane animated bounceIn" id="tab-weekly">
                            <table class="table animated bounceIn">
                               <thead>
                                   <tr>
                                       <th>Ranking</th>
                                       <th>Name</th>
                                       <th>$ Score</th>
                                       <th>Overall Score</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for user in users %}
                                   <tr class="primary hvr-grow-shadow">
                                       <td>2</td>
                                       <td>{{user}}</td>
                                       <td>200</td>
                                       <td>2000</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                        </div>
                        <div class="tab-pane" id="tab-monthly">
                            <table class="table animated bounceIn">
                               <thead>
                                   <tr>
                                       <th>Ranking</th>
                                       <th>Name</th>
                                       <th>$ Score</th>
                                       <th>Overall Score</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for user in users %}
                                   <tr class="danger hvr-grow-shadow">
                                       <td>2</td>
                                       <td>{{user}}</td>
                                       <td>200</td>
                                       <td>2000</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                        </div>
                        <div class="tab-pane" id="tab-yearly">
                            <table class="table animated bounceIn">
                               <thead>
                                   <tr>
                                       <th>Ranking</th>
                                       <th>Name</th>
                                       <th>$ Score</th>
                                       <th>Overall Score</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for user in users %}
                                   <tr class="warning hvr-grow-shadow">
                                       <td>2</td>
                                       <td>{{user}}</td>
                                       <td>200</td>
                                       <td>2000</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                        </div>
                    </div>
                </div>  
            </div>
        </div> 
    </div>
    </div> 
    <div class="col-md-12 last">        
    <div class="content-box-large hvr-shrink">
        <div class="panel-heading">
            <div class="panel-title text-center">Groups Leaderboard</div>
        </div>
        <div class="panel-body animated zoomInDown"> 
            <div class="col-md-12"> 
                <div class="clearfix tabs-vertical-right">
                    <ul class="nav nav-tabs">
                        <li class="active hvr-grow-shadow"><a href="#tab-gdaily" data-toggle="tab">Daily</a></li>
                        <li class="hvr-grow-shadow"><a href="#tab-gweekly" data-toggle="tab">Weekly</a></li>
                        <li class="hvr-grow-shadow"><a href="#tab-gmonthly" data-toggle="tab">Monthly</a></li>
                        <li class="hvr-grow-shadow"><a href="#tab-gyearly" data-toggle="tab">Yearly</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-gdaily">
                           <table class="table animated bounceIn">
                               <thead>
                                   <tr>
                                       <th>Ranking</th>
                                       <th>Name</th>
                                       <th>$ Score</th>
                                       <th>Overall Score</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for user in users %}
                                   <tr class="warning hvr-grow-shadow">
                                       <td>2</td>
                                       <td>{{user}}</td>
                                       <td>200</td>
                                       <td>2000</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                        </div>
                        
                        <div class="tab-pane" id="tab-gweekly">
                            <table class="table animated bounceIn">
                               <thead>
                                   <tr>
                                       <th>Ranking</th>
                                       <th>Name</th>
                                       <th>$ Score</th>
                                       <th>Overall Score</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for user in users %}
                                   <tr class="success hvr-grow-shadow">
                                       <td>2</td>
                                       <td>{{user}}</td>
                                       <td>200</td>
                                       <td>2000</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                        </div>
                        <div class="tab-pane" id="tab-gmonthly">
                            <table class="table animated bounceIn">
                               <thead>
                                   <tr>
                                       <th>Ranking</th>
                                       <th>Name</th>
                                       <th>$ Score</th>
                                       <th>Overall Score</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for user in users %}
                                   <tr class="danger hvr-grow-shadow">
                                       <td>2</td>
                                       <td>{{user}}</td>
                                       <td>200</td>
                                       <td>2000</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                        </div>
                        <div class="tab-pane" id="tab-gyearly">
                            <table class="table animated bounceIn">
                               <thead>
                                   <tr>
                                       <th>Ranking</th>
                                       <th>Name</th>
                                       <th>$ Score</th>
                                       <th>Overall Score</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for user in users %}
                                   <tr class="warning hvr-grow-shadow">
                                       <td>2</td>
                                       <td>{{user}}</td>
                                       <td>200</td>
                                       <td>2000</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                        </div>
                    </div>
                </div>  
            </div>
        </div> 
    </div>
    </div>    
</div>
{% endblock %}
