{% extends 'app/layout.html' %}
{% load staticfiles %}
{% block title %}
  <title> Waterly | Home</title>
{% endblock %}
{% block content %}
<div class="col-md-10">
    <div class="row" id="adminLandingPage">                            
    <div class="row animated fadeInDown">
        
        <!-- MOST WATERLY TABLE -->
        <div class="col-md-12">
            <div class="content-box-large hvr-shrink">
                <div class="panel-body animated zoomInDown">
                    <div class="page page-auth clearfix">
                        <div class="auth-container lock-screen hvr-grow">
                            <div class="form-container">
                                <div class="profile clearfix mb30" style="border: 1px solid transparent">
                                    <img src="{% static 'app/images/Mabu.JPG' %}" alt="admin">
                                    <h4 class="name">Mabu Manaileng</h4>
                                    <p>Administrator</p>
                                    <div class="rating text-warning">
                                        <input type="hidden" class="rating-control" value="4" data-filled="fa fa-star" data-empty="fa fa-star-o" />
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <!-- LEAST WATERLY TABLE -->
        <div class="col-md-12">
            <div class="content-box-large hvr-shrink">
                <div class="panel-heading">
                    <div class="col-md-9 panel-title text-center">My Consumption Data</div>
                    <div class="col-md-3 panel-options">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary hvr-grow dropdown-toggle" data-toggle="dropdown">
                      view By <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu text-center animated zoomIn" role="menu">
                                <li class="hvr-grow-shadow"><a href="#">Daily</a></li>
                                <li class="hvr-grow-shadow"><a href="#">Weekly</a></li>
                                <li class="hvr-grow-shadow"><a href="#">Monthly</a></li>
                                <li class="hvr-grow-shadow"><a href="#">Yearly</a></li>
                            </ul>
                        </div>
                    </div>                        
                </div>
                <div class="panel-body animated zoomInDown" id="interactive">
                    <br /><br /><br />
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="content-box-large hvr-shrink">
                <div class="panel-heading">
                    <div class="panel-title">Me Against Others</div>
                    <div class="panel-options">
                        
                    </div>
                </div>
                <div class="panel-body animated zoomInDown"></div>
            </div>
        </div>        
        
        <div class="col-md-12">
            <div class="content-box-large hvr-shrink">
                <div class="panel-heading">
                    <div class="panel-title text-center">Notes</div>
                </div>
                <div class="panel-body animated zoomInDown"></div>
            </div>
        </div>        
    </div>
    </div>
</div>
{% endblock %}