
{% extends "adminapp/base_reg_log.html" %}
{% block title%}
<title>Waterly | SignUp</title>
{% endblock %}
{% block content %}

    <div class="page-content container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <div class="login-wrapper animated zoomIn" id="meterView">
                    <div class="box">
                        <div class="content-wrap">
                            <h6>Setup your Password</h6>
                            <form id="passwordForm">
                                <input class="form-control text-center" type="password" placeholder="Password">
                                <input class="form-control text-center" type="password" placeholder="Confirm Password">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm</button>                
                            </form>
                            <!-- <form name="register" action="accounts/signup/" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="register">
                            </form> -->
                        </div>
                    </div>

                    <div class="already">
                        <p>Have an account already?</p>
                        <a href="/login">Login</a>
                    </div>
                </div>
                            
                <!-- OTP FORM -->
                <div class="login-wrapper animated fadeInRight" id="otpView" hidden>
                    <div class="box">
                        <div class="content-wrap">
                            {% if duplicate %}
                            <p><b>That username already exists</b></p>
                            {% endif %}
                            <h6>Setup your Password</h6>
                            <form id="passwordForm">
                                <input class="form-control text-center" type="password" placeholder="Password">
                                <input class="form-control text-center" type="password" placeholder="Confirm Password">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm</button>               
                            </form>

                        </div>
                    </div>
                </div>
                
                <!-- PASSWORD FORM -->
                <div class="login-wrapper animated bounceInRight" id="passwordView" hidden>
                    <div class="box">
                        <div class="content-wrap">
                            <h6>Setup your Password</h6>
                            <form id="passwordForm">
                                <input class="form-control text-center" type="password" placeholder="Password">
                                <input class="form-control text-center" type="password" placeholder="Confirm Password">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm</button>               
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
 
